* {
    font-size: 1.3vw;
    font-family: "Epilogue", sans-serif;
  }
  
  html {
    --scrollbarBG: transparent;
    --thumbBG: crimson;
    user-select: none;
  }
  body {
    background: #ccc;
  }